.book-review {
  padding: 1.2rem;
  border-radius: 6px;
}

.book-review p {
  font-size: 1.6rem;
  font-weight: bold;
}

.book-review .full-name {
  margin-block-end: 0.4rem;
}

.book-review .text {
  margin-block-end: 1.2rem;
}

.book-review .rating {
  margin-block-end: 0.8rem;
}

.book-review button {
  padding: 0.8rem 1.2rem;
  border-radius: 6px;

  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.6px;
}
