.mail-table {
  grid-row: 3;
  grid-column: 2;
  border-top-left-radius: var(--border-radius-s);
  font-size: 1.4rem;
}

.mail-table .mail-item {
  padding: 1.2rem;
  padding-inline-start: 2rem;

  gap: 1.2rem;

  border-block-end: 1px solid var(--clr3);
  transition: 0.2s all;
  cursor: pointer;
}

.mail-table .mail-item:first-child {
  border-top-left-radius: var(--border-radius-s);
}

.mail-table .mail-item button {
  background-color: inherit;
}

.mail-table .no-mails {
  padding: 1.2rem;
  padding-inline-start: 2rem;
}
