* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

:root {
  --border-radius-s: 6px;
  --border-radius-l: 16px;

  --icon-xs: 1.2rem;
  --icon-s: 1.6rem;
  --icon-m: 2rem;
  --icon-l: 2.4rem;
  --icon-xl: 3.2rem;
}

#root {
  height: 100vh;
}

.app,
main {
  height: 100%;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%;
}

button,
input {
  border: none;
  font-family: inherit;
  color: inherit;
}

button,
i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
}

a.active {
  transition: 0.25s;
}
