.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex.between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex.center {
  justify-content: center;
  align-items: center;
}

.clean-list {
  list-style-type: none;
}

.hidden {
  display: none;
}
