.view {
  /* max-width: 110rem; */
  margin: auto 4.8rem;
  padding-inline: 4.8rem;
}

.new-note-layout {
  display: grid;
  grid-template-columns: 1fr repeat(4, max-content);
  gap: 2.4rem;
  align-items: center;
}

.filter-notes-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  justify-items: center;
}
