.view {
  margin: auto 4.8rem;
  padding-inline: 4.8rem;
}

.new-note-layout {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 2.4rem;
  align-items: center;
}

.filter-notes-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  justify-items: center;
}

.mail-index-layout {
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 1.2rem;
}

.mail-index-layout.collapsed {
  grid-template-columns: 6rem 1fr;
}
