.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home h1 {
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
}

.home p {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.home p:last-of-type {
  margin-block-end: 3.6rem;
}

.home a {
  padding: 1.2rem;

  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: end;

  border-radius: 6px;
}
