:root {
  --clr1: #454545;
  --clr2: #ff6000;
  --clr3: #ffa559;
  --clr4: #ffe6c7;

  --gray1: #d4d4d8;
  --gray2: #71717a;
  --gray3: #3f3f46;
}

body {
  background-color: var(--clr1);
  color: var(--clr3);
}

.app-header,
.note-header input,
.note-txt input,
.note-img input,
.note-video input,
.note-todos input,
.label-none.none,
.label-title.title,
.label-time.time,
.inbox.inbox-folder-button,
.sent.sent-folder-button,
.starred.starred-folder-button,
.mail-table .mail-item,
.mail-compose .input-container input,
.mail-compose .input-container textarea,
.user-msg {
  color: var(--clr1);
  background-color: var(--clr3);
}

.new-note,
.filter-notes,
.note-preview,
.mail-sort,
.mail-table,
.mail-table .mail-item.read-mail,
.mail-filter .input-container,
.mail-folder,
.mail-folder button,
.mail-compose,
.mail-content {
  color: var(--clr1);
  background-color: var(--clr4);
}

.note-preview .note-preview-buttons .pin.pinned {
  background-color: var(--clr3);
}

.note-todos p.done {
  color: var(--gray2);
}

.mail-table .mail-item:hover,
.mail-index .compose,
.mail-index .collapse,
.mail-compose button,
.mail-content button,
.user-msg button {
  color: var(--gray3);
  background-color: var(--clr2);
}
.label-none.none,
.label-title.title,
.label-time.time {
}
