.new-note {
  max-width: 100rem;
  width: 100%;
  margin-block-end: 3.6rem;
  padding: 0.8rem 2.4rem;
  border-radius: var(--border-radius-l);
}

.new-note-icons {
  gap: 1.2rem;
}

.new-note .new-note-input {
  height: 100%;
  width: 100%;
  background-color: inherit;

  font-size: 1.6rem;
}

.new-note .new-note-icon i {
  padding-block: 0.8rem;
  font-size: var(--icon-m);
  transition: all 0.2s;
}

.new-note .new-note-icon:hover i {
  scale: 1.5;
  padding-inline: 0.8rem;
}

.new-note .new-note-icon .fa-regular {
  display: inline-block;
}
.new-note .new-note-icon .fa-solid {
  display: none;
}

.new-note .new-note-icon.type-active .fa-regular {
  display: none !important;
}

.new-note .new-note-icon.type-active .fa-solid {
  display: inline-block !important;
}
