.note-txt .note-content {
  padding-inline: 0.8rem;
}

.note-txt p {
  margin-block-end: 2.1rem;
}

.note-txt input {
  padding: 0.5rem 1.2rem 0.8rem;
  margin-block-end: 0.8rem;
  border-radius: var(--border-radius-s);
  font-size: 1.6rem;
}
