* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Varela Round', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  /* max-width: 100%; */
}

button {
  border: none;
  cursor: pointer;

  font-family: inherit;
  color: inherit;
}

a.active {
  border-radius: 15px;
  transition: 0.25s;
}
